/*index.html*/
.wrapper-opposite {
    background: linear-gradient(2200deg, mediumseagreen 30%,#ff3377, #ffa366 75%);
    width: 100%;
    transform: rotate(-2deg) skew(-2deg);
    margin-top: 3rem;
    position: static;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.wrapper-opposite > * {
    transform:  rotate(2deg) skew(2deg);
}
.experience .box {
    width: 40%;
    text-align: center;
    padding: 1rem;
}
.experience .box p {
    text-align: left;
}

.experience .box span {
   color: orangered;
}

.experience .box ul {
    list-style-type: square;
    text-align: left;
}

.about-me{
    text-align: left !important; 
    margin-top: 3rem;
    width: 80%;
}
 .about-me img{
    width: 250px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
 }

 .about-me p {
    padding: 0 2rem;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
 }

.me {
    display: flex;
    flex-direction: column;
}



.container-index{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.container-index h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    color: #fffae6;
}

.container-index h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: #fffae6;
}

.container-index h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #fffae6;
}

#slider {
    width: 60%;
    max-height: 37.5rem;
    margin: 50px auto;
    position: relative;
}
#slider-box img {
    width: 100%;
    max-height: 37.5rem;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.slide {
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: 5px solid mediumseagreen;
    background-color: rgb(210, 245, 210);
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:hover {
    background-color: #ffa366; 
}

.left {
    position: absolute;
    bottom: 40%;
    left: 1rem;
}

.right {
    position: absolute;
    bottom: 40%;
    right: 1rem;
}

.slide span {
    font-size: 35px;
    color: mediumseagreen;
    line-height: 41px;
    font-weight: 800;
    text-align: center;
}

footer{
    margin-top:0;
}


/*MEDIA QUERIES*/
/* MOBILE */
@media only screen and (max-width:700px){

    .about-me{
        width:100%;
        margin-top:0;
        
    }

    .about-me p{
        font-size: 1.2rem;
    }

    .about-me img{
        text-align: center;
    }
    .me{
        /* margin-left: -1rem; */
    }

    .container-index h1 {
        font-size: 2.5rem;
     
    }

    .container-index h2 {
        font-size: 2rem;
        
    }
    
    .container-index h3 {
        font-size: 1.6rem;
        
    }

    .slide {
        width: 40px;
        height: 40px;
    }

    #slider{
        width: 95%;
    }

    .experience .box {
        width: 90%;
    }

}

/* TABLET */

@media only screen and (max-width:1024px) and (min-width: 700px) {
    .about-me{
        width: 100%;
        align-items: flex-start;
        
    }

    .about-me img{
        margin-top:3.5rem;
        margin-right:1rem;
    }

    .experience .box {
        width: 60%;
    }

    #slider{
        width: 70%;
        max-height:21.875rem; 
    }

    #slider-box img{
        max-height:21.875rem;
    }

    .slide {
        width: 40px;
        height: 40px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {

}
