* {
    box-sizing: border-box;
    
}

body{
    background-color: #fffae6;
    font-family: 'Quicksand', sans-serif;
    margin:0;
}

/*HEADER*/
header{
    background-color: mediumseagreen;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 4.375rem;
    display: flex;
    margin-bottom: 60px;
}

header h1{ 
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    color: #fffae6;
    padding-left: 1rem;;
}

nav {
    display: block;
    margin-left: auto;
    
}

nav li {
    display: inline-block;
    padding: 0.625rem;
    margin-right: 1.25rem;  
}

.nav {
    color: #fffae6;
    font-weight: 600;
    font-size: 1.5rem;
}

/* .nav:hover{
    font-size: 1.7rem;
    
} */
.nav:link {
    text-decoration: none;
}

.nav:link:hover, .nav:link:active  {
    text-decoration: underline;
}


ul {
    list-style-type: none;
}
/* CONTENT */
.after-header{
    margin-top: 4rem;
}

.info{
    padding-top: 1rem;
    width:90%;
    margin:auto;
    text-align: center;
    font-size: 1.3rem;
}

.wrapper {
    background: linear-gradient(320deg, #ffa366 30%,  #ff3377, mediumseagreen 75%);
    width: 100%;
    transform: rotate(2deg) skew(2deg);
    margin-top: 3rem;
    position: static;
    padding-bottom: 4rem;
    padding-top: 3rem;
}

.wrapper > * {
    transform:  rotate(-2deg) skew(-2deg);
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container summary {
    font-weight: 800;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

.container summary span {
    color: black;
    margin-top: 1rem;
}


.box {
    margin: 1.5rem;
    background-color: rgb(210, 245, 210);
    width: 23.75rem;
    filter: drop-shadow(1px 1px purple);
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.box .logo {
    margin-right: 0.5rem;
}

.button img{
    opacity: 30%;
}

.button img:hover{
   opacity: 100%;
}

details {
    display: block;
}

details p {
    font-size: 15px;
    word-wrap: break-word;
}

details span{
    color: orangered;
}

.skills-descriptions span {
    color: orangered;
}


details[open] summary{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to bottom right,   #b827fc 0%, #b8fd33 25%,  #2c90fc 50%, #fec837 75%, #fd1892 100%) ;
    border-image-slice: 1;
}


.container figcaption {
    margin: 10px;
    text-align: center;
}


.project-pics{
    width: 100%;
    height: 180px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}


/*FOOTER*/

footer {
    margin-top: 5rem;
    background-color: #ffa366;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* position: absolute;
    bottom: 0; */
    max-height: 4.5rem;
    height:4.5rem;
    
}

footer img {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}


.logo {
    height: 50px;
    width: auto;
    
}

footer p {
    margin-left: 5px;
}

.logos-container{
    display:flex;
}

/*MEDIA QUERIES*/
/* MOBILE */
@media only screen and (max-width:700px){
    header {
        height: 8.75rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    nav {
        margin-left: -1.875rem;
        
    }

    .nav {
        font-size: 1.2rem;
    }

    /* .nav:hover{
        font-size: 1.4rem; 
    } */

    nav li {
        margin-right: 0.5rem;
    }

    .after-header{
        margin-top: 9.25rem;
    }

    .box {
        margin: 0.4rem;
    }

}

/* TABLET */

@media only screen and (max-width:1024px) and (min-width: 700px) {

}

/*DESKTOP*/
@media screen and (min-width: 1024px) {

}